* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: linear-gradient(#0F6598,grey);
	background: -moz-linear-gradient(#0F6598, grey); /* For Firefox 3.6 to 15 */
	background-attachment: fixed;
}
.bodi {
max-width: 700px;
margin: auto;
}
header {
	padding: 64px;
}



.center {
	text-align: center;
}

.container {
	padding-top: 15px;
	width: 500px;
	margin: auto;
}

#search {
	width: 500px;
	margin: auto;
}

form div {
	padding: 5px;
	display: inline-block;
}

input {
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	width: 100%;
}